.content_List{
    display: flex;
    flex-grow: 12;
    flex-direction: column;
    flex-basis: 0;
    overflow-y: scroll;
}

.review_List{
    position: relative;
    display: flex;
    flex-grow: 12;
    flex-direction: column;
    flex-basis: 0;
    overflow-y: scroll;
}

.review_titleText{
    width: 40vw;
    font-size: 3vh;
    font-weight: bold;
    color: #297f94;
    margin: 15px 0 0 10px;
    text-align: left;
}

.review_titleBox{
    font-size: 4vw;
    width: 90vw;
    margin: 10px auto;
}

.review_textBox{
    font-size: 4vw;
    height: 40vh;
    width: 90vw;
    margin: 10px auto;
}

.review_Button{
    margin: 30px auto;
    height: 7vh;
    min-height: 7vh;
    width: 40%;
    background-color: #9bdff0;
    font-size: 4vh;
}

.review_CheckField{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: #00000044;
}

.review_CheckWindow{
    margin: 50% auto;
    width: 70vw;
    height: 15vh;
    background-color: white;
    border: solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.review_CheckText{
    font-size: 3vh;
}

.review_CheckButton{
    margin: 20px;
    font-size: 3vh;
}