.review_List{
    display: flex;
    flex-grow: 12;
    flex-direction: column;
    flex-basis: 0;
}


.review_titleText{
    width: 40vw;
    font-size: 3vh;
    font-weight: bold;
    color: #297f94;
    margin: 15px 0 0 10px;
    text-align: left;
}

.review_titleBox{
    font-size: 4vw;
    width: 90vw;
    margin: 10px auto;
}

.review_textBox{
    font-size: 4vw;
    height: 40vh;
    width: 90vw;
    margin: 10px auto;
}

.review_Button{
    margin: 30px auto;
    height: 7vh;
    min-height: 7vh;
    width: 40%;
    background-color: #9bdff0;
    font-size: 4vh;
}
